* {
    margin: 0;
    padding: 0;
    /* outline: red dashed 1px; */
}

#submit {
    margin-top: 20px;
}

#text {
    display: block;
    height: 30px;
    margin-bottom: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.bg-success, .bg-warning, .bg-danger {
    padding: 10px;
}

.cross-button {
    background-color: white;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 3px;
}

.edit-button {
    background-color: white;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 25px;
}

#changeForm {
    width: 20%;
    margin: 0 auto;
}

#changeForm .form-control {
    width: 100%; 
    box-sizing: border-box;
}

.change-form {
    position: fixed;
    z-index: 800;
    background-color: #FFFFCC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#change-cross-button {
    background-color: white;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 3px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 300;
}

.hidden {
    display: none;
}